@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
/* adding 3 font type*/
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 50px;
  font-weight: 700;
  color: chocolate;
  background-color: lawngreen;
  font-family: "Federant", sans-serif;
}

.didILetter {
  font-size: 26px;
  font-style: normal;
  color: limegreen;
  text-decoration: underline;
  background-color: rgb(75, 40, 150);
  font-family: "Federant", sans-serif;
}

.didDTwoLetter {
  font-size: 70px;
  font-weight: 400;
  color: chocolate;
  background-color: lawngreen;
  font-family: "Federant", sans-serif;
}

/* THE word */

.theTLetter,
.frontendTLetter,
.theyTLetter {
  font-size: xx-large;
  color: darkred;
  background-color: sandybrown;
  font-family: "Comic Relief", sans-serif;
}

.theHLetter,
.theirHLetter {
  font-size: 72px;
  color: blue;
  font-weight: normal;
  background-color: yellowgreen;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}

.theELetter,
.frontendELetter,
.developerETwoLetter,
.developerEThreeLetter {
  font-size: 30px;
  font-style: initial;
  font-weight: 400;
  background-color: #ab47bc;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: overline;
  background-color: yellow;
  font-family: "Piazzolla", sans-serif;
}

.frontendRLetter {
  color: red;
  background-color: aquamarine;
  font-weight: 700;
  text-decoration: line-through;
  font-size: 60px;
  border-radius: 40px;
  font-family: Raleway Dots, sans-serif;
}

.frontendOLetter {
  font-size: 70px;
  color: blue;
  font-weight: 300;
  background-color: limegreen;
  font-family: "Ceviche One";
}

.frontendNLetter,
.frontendNTwoLetter {
  font-size: 28px;
  background-color: orangered;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Federated", sans-serif;
}

.frontendTLetter,
.takeTLetter {
  text-transform: capitalize;
  text-decoration: line-through;
  background-color: #fdd835;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}

.frontendELetter {
  font-size: 30px;
  font-style: oblique;
  font-weight: 400;
  background-color: #ab47bc;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}

.frontendNTwoLetter {
  font-family: "Comic Relief", sans-serif;
}

.frontendDLetter {
  font-size: 70px;
  font-weight: 400;
  color: chocolate;
  background-color: lawngreen;
  font-family: "Federant", sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 30px;
  font-weight: 700;
  color: chocolate;
  background-color: lawngreen;
  font-family: "Comic Relief", sans-serif;
}
.developerELetter {
  font-size: 60px;
  font-weight: 700;
  color: black;
  background-color: rgb(128, 203, 196);
  font-family: "Comic Relief", sans-serif;
}
.developerVLetter {
  background-color: black;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Piazolla", sans-serif;
}
/* .developerETwoLetter { */
/* } */
.developerLLetter,
.skillsLLetter,
.skillsLTwoLetter {
  color: #ff0001;
  background-color: bisque;
  font-size: 48px;
  font-weight: bold;
  font-family: "Piazolla", sans-serif;
}
.developerOLetter {
  font-size: 70px;
  color: blue;
  font-weight: 300;
  background-color: limegreen;
  font-family: "Federant", sans-serif;
}
.developerPLetter,
.upPLetter {
  font-size: xx-large;
  font-weight: bolder;
  text-transform: capitalize;
  background-color: orange;
  font-family: "Piazolla", sans-serif;
}
/* .developerEThreeLetter {
} */
.developerRLetter {
  font-weight: 400;
  background-color: orchid;
  font-family: "Piazolla", sans-serif;
}

/* TAKE word */

.takeTLetter {
  color: black;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: underline;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.takeALetter,
.gardeningALetter {
  color: #fdd835;
  background-color: hotpink;
  font-size: 36px;
  font-family: "Ceviche One";
}
.takeKLetter {
  font-size: 54px;
  font-weight: 700;
  color: red;
  background-color: white;
}
.takeELetter {
  font-size: 60px;
  font-style: initial;
  font-weight: 700;
  background-color: #ff7043;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}

/* UP word */

.upULetter {
  font-size: 34px;
  font-weight: 400;
  color: red;
  background-color: aquamarine;
}
.upPLetter {
  background-color: yellowgreen;
  text-transform: lowercase;
}

/* GARDENING word */

.gardeningGLetter,
.gardeningGTwoLetter {
  color: limegreen;
  font-size: 80px;
  font-style: initial;
  font-weight: 400;
  background-color: #ff7043;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.gardeningALetter {
  text-decoration: underline;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.gardeningRLetter {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: overline;
  background-color: yellow;
  font-family: "Federant", sans-serif;
}
.gardeningDLetter {
  font-size: 70px;
  font-weight: 400;
  color: chocolate;
  background-color: aquamarine;
  font-family: "Federant", sans-serif;
}
.gardeningELetter {
  font-size: 68px;
  font-style: initial;
  font-weight: normal;
  background-color: #ff7043;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.gardeningNLetter,
.gardeningNTwoLetter {
  font-size: 50px;
  color: #fdd835;
  background-color: #ab47bc;
  font-family: "Comic Relief", sans-serif;
}
.gardeningILetter,
.improveILetter,
.theirILetter,
.skillsILetter {
  font-size: 38px;
  font-weight: 700;
  background-color: #ff7043;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.gardeningNTwoLetter {
  background-color: olivedrab;
}
.gardeningGTwoLetter {
  background-color: white;
  text-decoration: overline;
}

/* BECAUSE word */

.becauseBLetter {
  text-transform: capitalize;
  color: black;
  background-color: greenyellow;
  font-family: "Federant", sans-serif;
}
.becauseELetter {
  font-size: 60px;
  font-weight: 700;
  color: black;
  background-color: orangered;
  font-family: "Comic Relief", sans-serif;
}
.becauseCLetter {
  font-size: 70px;
  font-weight: 400;
  color: black;
  background-color: lawngreen;
  font-family: "Federant", sans-serif;
}
.becauseALetter,
.wantedALetter,
.skillsKLetter,
.skillsSTwoLetter {
  font-size: 50px;
  background-color: #2196f3;
  font-family: "Comic Relief", sans-serif;
}
.becauseULetter,
.improveVLetter,
.theyYLetter {
  background-color: blueviolet;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: line-through;
  font-family: "Federant", sans-serif;
}
.becauseSLetter,
.skillsSLetter {
  background-color: hotpink;
  font-size: 36px;
  font-family: "Ceviche One";
}
.becauseETwoLetter {
  font-size: 70px;
  font-weight: 400;
  color: black;
  background-color: yellow;
  font-family: "Federant", sans-serif;
}

/* THEY word */

.theyTLetter,
.toTLetter,
.theirTLetter {
  text-transform: capitalize;
  font-family: "Comic Relief";
}
.theyHLetter {
  background-color: green;
  font-family: "Federant", sans-serif;
}
.theyELetter {
  font-size: 70px;
  font-weight: 400;
  color: black;
  text-decoration: overline;
  background-color: yellow;
  font-family: "Federant", sans-serif;
}
.theyYLetter {
  background-color: peru;
}

/* WANTED word */

.wantedWLetter {
  color: antiquewhite;
  background-color: black;
  text-decoration: underline;
  font-family: "Piazolla", sans-serif;
}
.wantedALetter {
  background-color: rgb(77, 182, 172);
  font-family: "Federant", sans-serif;
}
.wantedNLetter {
  text-transform: capitalize;
  background-color: #03a9f4;
  font-family: "Piazolla", sans-serif;
}
.wantedTLetter {
  font-size: xx-large;
}
.wantedELetter {
  font-size: 40px;
  font-weight: normal;
  color: black;
  text-decoration: underline;
  background-color: yellow;
  font-family: "Federant", sans-serif;
}
.wantedDLetter {
  background-color: #d32f2f;
  font-family: "Ceviche One", sans-serif;
}

/* TO word */

.toTLetter,
.wantedTLetter,
.theirTLetter {
  font-size: 60px;
  text-decoration: line-through;
  color: #ab47bc;
  background-color: #fff59d;
}
.toOLetter {
  font-size: 32px;
  color: #d32f2f;
  text-decoration: none;
  background-color: aqua;
  font-family: "Comic Releif", sans-serif;
}

/* IMPROVE word */

.improveILetter {
  text-decoration: underline;
}
.improveMLetter {
  color: #ff0001;
  font-size: 26px;
  font-weight: bold;
  background-color: rgb(144, 164, 174);
  font-family: "Piazolla", sans-serif;
}
.improvePLetter {
  color: white;
  background-color: yellowgreen;
  text-transform: lowercase;
}
.improveRLetter,
.theirRLetter {
  font-size: 32px;
  color: #ff0001;
  text-transform: capitalize;
  background-color: #fff59d;
  font-family: "Piazolla", sans-serif;
}
.improveOLetter {
  font-size: 60px;
  color: blue;
  font-weight: 700;
  background-color: gold;
  font-family: "Comic Relief", sans-serif;
}
.improveVLetter {
  font-size: 24px;
}
.improveELetter {
  font-size: 70px;
  font-weight: 400;
  color: black;
  text-decoration: overline green;
  background-color: yellow;
  font-family: "Comic Relief", sans-serif;
}

/* THEIR word */

.theirTLetter {
  font-size: 38px;
}
.theirHLetter {
  text-transform: capitalize;
}
.theirELetter {
  font-size: 70px;
  font-weight: 400;
  color: black;
  text-decoration: overline limegreen;
  text-transform: uppercase;
  background-color: yellow;
  font-family: "Federant", sans-serif;
}
.theirILetter {
  text-decoration: line-through;
}
.theirRLetter {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* ROOT word */

.rootRLetter {
  font-size: 38px;
  background-color: #d32f2f;
}
.rootOLetter,
.rootOTwoLetter {
  font-size: 50px;
  color: blue;
  font-weight: 700;
  background-color: gold;
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.rootOTwoLetter {
  color: goldenrod;
  background-color: blue;
}
.rootTLetter {
  font-size: 24px;
  background-color: #a5d6a7;
  font-family: "Federant", sans-serif;
}

/* SKILLS word */

.skillsSLetter {
  text-decoration: underline;
}
.skillsKLetter {
  text-transform: capitalize;
}
.skillsILetter {
  background-color: blueviolet;
}
.skillsLLetter {
  text-decoration: line-through;
  font-family: "Piazolla", sans-serif;
}
.skillsLTwoLetter {
  background-color: #a5d6a7;
}
.skillsSTwoLetter {
  text-decoration: underline;
  font-family: "Piazolla", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 40px;
  color: rgb(153, 255, 0);
  font-weight: bold;
  background-color: rgb(0, 153, 0);
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.exclamation-mark {
  font-size: 80px;
  color: #ff0001;
  background-color: bisque;
  font-weight: bold;

  font-family: "Edu NSW ACT Cursive", sans-serif;
}
.question-mark {
  font-size: 40px;
  color: rgb(153, 255, 0);
  font-weight: bold;
  background-color: rgb(0, 153, 0);
  font-family: "Edu NSW ACT Cursive", sans-serif;
}
